body {
    font-family: "Lato", sans-serif;
    background: url(../img/me.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: fixed;
    -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none; /* Safari */
     -khtml-user-select: none; /* Konqueror HTML */
       -moz-user-select: none; /* Old versions of Firefox */
        -ms-user-select: none; /* Internet Explorer/Edge */
            user-select: none; /* Non-prefixed version, currently
                                  supported by Chrome, Edge, Opera and Firefox */
                                  line-height: 1.5;
}
h1 {
	font-family:'lobster';
	margin-bottom: .5em;
}
.body-title{
    color: grey;
    font-size: 4em;
    padding: inherit;
   
}

/*-----------------------------------------------------  Time-Line  ------------------------------------------*/
.time-line {
	max-width: 800px;
	width: 90%;
	margin: 0px auto;
}
.timeline-item {
	padding: 3em 2em 2em;
	position: relative;
	color: rgba(0, 0, 0, .7);
	border-left: solid 2px rgb(54 154 212);
}	
p {
	font-size: 1rem;
}
.timeline-item::before {
    content: attr(id);
    position: absolute;
    left: 1em;
    font-weight: bold;
    top: 0em;
    display: block;
    font-family: 'Lato', sans-serif;
    font-weight: 700;
    font-size: .785rem;
}
.timeline-item::after {
    width: 10px;
    height: 10px;
    display: block;
    top: 0em;
    position: absolute;
    left: -8px;
    border-radius: 10px;
    content: '';
    border: 2px solid rgba(54 169 225);
    background: white;
}

.timeline-item:last-child {
	border-image: linear-gradient( to bottom,rgb(54 169 225) 60%, rgb(255 255 255 / 0%)) 3 100%;
}

.card {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    max-width: 300px;
    /*margin: auto;*/
    text-align: center;
    font-family: lato;
}
.card button{
    margin: 15px 0px 15px 0px;
}
.card ul{
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: inline-flex;
}
.title {
    color: grey;
    font-size: 18px;
    padding: 0px 5px 0px 5px;
}
button {
    border: none;
    outline: 0;
    display: inline-block;
    padding: 8px;
    color: white;
    background-color: #000;
    text-align: center;
    cursor: pointer;
    width: 100%;
    font-size: 18px;
    font-weight: bold;
}
a {
    text-decoration: none;
    font-size: 22px;
    color: black;
}
button:hover, a:hover {
    opacity: 0.7;
}
.sidenav {
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: rgb(237, 237, 237);
    overflow-x: hidden;
    transition: 0.5s;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    /* padding-right: 17px; */
    
}
#sidenav-about{
    width: 50%;
    float: right;
    margin-right: 100px;
    background-color: #02020285;
    color: aliceblue;
    position: absolute;
    top: 58px;
    right: 0px;
    padding: 20px;
}
.sidenav a {
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    font-size: 25px;
    color:rgb(128, 128, 128);
    font-weight: bold;
    display: block;
    transition: 0.3s;    
}
.sidenav a:hover {
    color:#ffffff;
    text-shadow:0px 0px 20px black; 

}
.sidenav .closebtn {
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 36px;
    margin-left: 50px;
    
}  
.closebtn {
    margin-top: 10px;
}
#main {
    transition: margin-left .5s;
    padding: 0px 16px;
}
#qrCode{
    width: 250px;
    height:auto;
}
#topbar{
    background-color: black;
    width: 100%;
    padding:10px;
}
#about{
    width: 100%;
    padding: 1%;
}
#about-text {
    width: 50%;
}
/* Slideshow container */
.slideshow-container {
    position: relative;
    background: #f1f1f1f1;
    display: none;
}
/* Slides */
.mySlides {
    display: none;
    padding: 30px 30px 30px 30px;
    text-align: center;
}
/* Next & previous buttons */
.prev, .next {
    cursor: pointer;
    position: absolute;
    top: 50%;
    width: auto;
    margin-top: -30px;
    padding: 16px;
    color: #888;
    font-weight: bold;
    font-size: 20px;
    border-radius: 0 3px 3px 0;
    user-select: none;
}
/* Position the "next button" to the right */
.next {
    position: absolute;
    right: 0;
    border-radius: 3px 0 0 3px;
}
/* On hover, add a black background color with a little bit see-through */
.prev:hover, .next:hover {
    background-color: rgba(0,0,0,0.8);
    color: white;
}
/* The dot/bullet/indicator container */
.dot-container {
    text-align: center;
    padding: 20px;
    background: #ddd;
    display: none;
}
/* The dots/bullets/indicators */
.dot {
    cursor: pointer;
    height: 15px;
    width: 15px;
    margin: 0 2px;
    background-color: #bbb;
    border-radius: 50%;
    display: inline-block;
    transition: background-color 0.6s ease;
}
/* Add a background color to the active dot/circle */
.active, .dot:hover {
    background-color: #717171;
}
/* Add an italic font style to all quotes */
q {
    font-style: italic;
}
/* Add a blue color to the author */
.author {
    color: cornflowerblue;
}
.core,.attributes,.check-area,.wiki{
    font-size: x-large;
    font-family: 'lobster';
    float: right;
    /*margin-right: 40px;*/   
    position: fixed;
    text-align: left;
    top: 140px;  
   
}
.wiki{
    top: 750px;
    right: 350px;
}
.core{
    right: 350px;
}
.attributes{
    right: 20px;
}
.core-item{
    text-align: left;
}
#talkbubble {
    width: 280px;
    height: 300px;
    background: #8e8e8e;
    position: fixed;
    -moz-border-radius: 10px;
    -webkit-border-radius: 10px;
    border-radius: 10px;
    float: right;
    top: 400px;
    right: 100px;
    color: white;
    font-weight: bold;
    font-size: xx-large;
    text-align: center;
    box-shadow: 5px 7px 9px 0px #696464;
    padding: 10px;
    font-family: 'Lobster';
}
.check-area{
    font-size: x-large;
    text-align: left;
    padding: 10px;
    width: 450px;
    height: 300px;
    position: fixed;
    float: right;
    top: 400px;
    right: 20px;
    font-family: 'Lobster';
}
footer{
    text-align: center;
    padding: 10px 0px 10px 0px;
    font-weight: bolder;
    color: white;
    font-family: lobster; 
}
.copyright{
    float:left;
    padding-bottom:10px;
    margin-left: 20px;
    color: grey;
    font-size: 18px;
}
.powered{
    float: right;
    padding-bottom:10px;
    margin-right: 20px;
    color: grey;
    font-size: 18px;
}
#blog{
    float: right;
    font-size: 40px;
    font-family: 'Lobster';
}
#myBtn {
    display: none;
    position: fixed;
    bottom: 120px;
    right: 20px;
    z-index: 99;
    font-size: 18px;
    border: none;
    outline: none;
    background-color:rgba(95, 95, 95, 0.322);
    color: white;
    cursor: pointer;
    padding: 15px;
    border-radius: 4px;
    width: 60px;
}
#myBtn:hover {
    background-color:#0075ff;
}
.download{
    color: #ffffff;
    font-size: xx-large;
    text-shadow: 2px 2px 20px #000000;
}
.fa-lg{
    color: #929292;
}
.fa-lg:hover{
    color: #585858;
}
.social-links a{
    width: 25%; 
    text-align: center;
    padding: 5px;
}   
.qr-container{
    padding: 20px;
    display: block;
}
.header-subtitle{
    font-family: 'Lobster';
    display: flex;
    justify-content: flex-end;
    text-align: right;
    width: 50%;
}
.profile-img{
    margin-top: 10%;
    width: 60% !important;
}
#welcome-section{
  display: block;
   text-align: center;
   height: 968px;
}
#welcome-section h1{
    font-size: 1.5em;
    font-family: 'lato';
}
polygon{
    fill:#ffffff14 !important
}
text{
    fill:rgb(255, 255, 255);
    font-size: 20px;
    text-shadow: 2px 2px 20px #000000;
}
path{
    fill: #00000012;
    stroke: #00000017;
}
.apexcharts-yaxis{
    transform: translateY(20px)
}

#scrollbar
{
  width: 10px;
  height: 100%;
  padding: 0;
  margin: 0 0 0 auto;
  right: 80%;
  top: 0;
  position: fixed;
  visibility: visible;
  background-color: transparent;
}
#scrollbar #bar
{
    width: 100%;
    height: 0%;
    background-color: #ccc;
}
#welcom{
    font-family: 'Lobster';
    width: 30%;
    position: fixed;
    top: 102px;
    left: 30%;
    border-color: #80808045;
    float: unset;
    text-align: center;
}
#fieldsets{
    float: right;
    color: gray;
}
#menu{
   
    
    display: flex;
    flex-direction: row;
    width: 50%;
    flex-wrap: wrap;
    justify-content:flex-start;
}
#menu a{
   
    margin: 0px 10px 10px 10px;
    cursor: pointer;
    font-family: 'Lobster';
}


  
.projects-section {
    text-align: center;
    padding: 10rem 2rem;
    background: var(--main);
  }
  .projects-section img{
    width: 300px;
    border-bottom: solid 2px;
    border-bottom-color: #369ad4;
    padding-bottom: 10px;
  }
  
  .projects-section-header {
    max-width: 640px;
    margin: 0 auto 6rem auto;
    border-bottom: 0.2rem solid var(--main-white);
  }
  .projects-grid {
    display: flex;
   flex-direction: row;
    flex-wrap: wrap;
    width: 100%;
    max-width: 1280px;
    margin: 0 auto;
    margin-bottom: 6rem;
  }
  .projects-grid a{
    margin-left: 50px;
    margin-right: 50px;

  }
  .sticky {
    position: fixed;
    top: 0;
    width: 100%!important;
    z-index: 2;
    background-color: #ededed;
    left: 0px;
    transition: 1s;
    padding: 5px;
  }
  #home{
      padding-top: 0px!important;
  }
  .tabcontent {
    
    display: none;
    padding: 100px 20px;
    height: 100%;
  }
  .active-link{
    color: #369ad4;
}
.code{
    color:#369ad4;
    font-weight: bolder;
    font-size: larger;
}
 .project-title{
    color: rgb(0, 0, 0);
    font-weight: bold;
    width: 56%;
    margin: 20px auto;
    padding: 5px;

 }
 .show{
     display:block!important;
 }
 .hide{
     display: none!important;
 }
 .cart-about{
     display: none;
 }
/* transition: background-color 2s ease-out; */

/*-----------------------------------------------------  Media Queries  ------------------------------------------*/

@media screen and (max-width: 1360px) {
    .core, .attributes,.check-area{
        position: relative;
    width: 250px;
    padding: 20px;
    margin: 0 auto;
    float: unset;
    text-align: left;
    top: unset;
    right: unset;
    border-color: #d8d8d887;
    }
   

/* .core legend{color: gray;}
.attributes legend{color: gray;}
.check-area  legend{color: gray;} */
    #welcom{
        width: 50%;
        float: right;
        border: none;
        margin-left: 10%;
        
    }
    #fieldsets{
        float: unset;
        display: flex;
        flex-flow: wrap;
    }
}
@media screen and (max-width: 860px) {
    #about-text {
        width: 100%;
    }
    .check-area{
        position:relative;
        top: unset;
        right: unset;
        width: 250px;
    }
    .core, .attributes,.check-area{
        position:relative;
        width: 250px;
        padding: 10px;
        margin: 0 auto;
        float: unset;
        text-align: left;
        top: unset;
        right: unset;
    }
    .copyright,.powered{
        float: unset;
        margin: unset;
    }
    .card{
        max-width: 400px;
        margin: 0 auto;
    }
    .meCard{
        margin: 0 auto;
    }
    #welcom{
        width: 90%;
        position: unset;
        margin: 0 auto;
        float: unset;
        border: none;
    }
    #fieldsets{
        float: unset;
        display: unset;
    }
    #menu{
        width: 100%;
    }
    #menu a{
        margin: 0px 5px 5px 5px;
    }
   
.header-subtitle{
    width: 100%;
}
nav{
    flex-direction: column;
}
}
@media screen and (max-height: 450px) {
    .sidenav {padding-top: 15px;}
    .sidenav a {font-size: 18px;}
    
   
  }
  
  @media screen and (max-width: 410px) {
      #wdev{
        display: none;
      }
      .projects-grid a{
        margin-left: 0px;
        margin-right: 0px;
    
      }
    
  }
/*-----------------------------------------------------  Media Queries  ------------------------------------------*/  